{%extends 'operations/index.html'%}
{% load crispy_forms_tags %}
{% block content%}
<div class="container-fluid">

	<div class="row">
		<div class="col-xl-12">
			<div class="card-box">

				<h4 class="header-title mt-0 mb-3">Add Books</h4>
				<form method="POST" action="{% url 'addbooks'%}" class="col-lg-8" enctype="multipart/form-data">
					{% csrf_token %}
					{{form|crispy}}
					<button class="btn btn-info">ADD</button>
				</form>



			</div>
		</div>
	</div>
	{%endblock%}

	{% block js %}

	{% endblock js%}


{% block title %}
   <title>AddBooks-Library Management System</title>
 {% endblock title %}

