{%extends 'operations/index.html'%}
{% load crispy_forms_tags %}
{% block content%}
<div class="container-fluid">

	<div class="row">
		<div class="col-xl-12">
			<div class="card-box">

				<h4 class="header-title mt-0 mb-3">Add Books</h4>
				<!-- <input type="text" name="my-text" class="my-input">
				<input type="text" name="my-text" class="my-input"> -->
				<form method="POST" action="{% url 'addbooks'%}" class="col-lg-8" enctype="multipart/form-data">
					{% csrf_token %}
					{{form|crispy}}
					<button class="btn btn-info">ADD</button>
				</form>



			</div>
		</div>
	</div>
	{%endblock%}

	{% block js %}
	<script type="text/javascript">

		document.addEventListener("keypress", function(e) {
			if (e.target.tagName !== "INPUT") {
				var input = document.querySelector(".my-input");
				input.focus();
				input.value = e.key;
				e.preventDefault();
			}
		});
	</script>


	{% endblock js%}


