{%extends 'operations/main.html'%}
{% load crispy_forms_tags %}

{% block content%}
<form action="{% url 'add-ebooks'%}" method="POST" class="col-lg-8" enctype="multipart/form-data">
	{% csrf_token %}
	{{form|crispy}}
	<input type="submit" name="submit" class="btn btn-primary">
</form>   
{%endblock%}

{% block sidebar%}
{%include 'operations/sidebar.html'%}
{% endblock sidebar %}

{% block title %}
<title>Add EBooks | LMS </title>   
{% endblock title %}

{% block heading %}
<h2>Add EBooks </h2>
{% endblock heading %}










