{%extends 'operations/index.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="bg-picture card-box">
        <h4 class="header-title mt-0 mb-3">Book Detail</h4>
        <div class="profile-info-name">
          <img src="{{book.books_image.url}}" class="rounded-circle avatar-xl img-thumbnail float-left mr-3" alt="profile-image">

          <div class="profile-info-detail overflow-hidden">
            <h4 class="m-0">{{book.books_name}}</h4>
            <p class="text-muted"><i>{{book.catagory}}</i></p>
            <p class="font-13">Description: N/A</p>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <!--/ meta -->


      <div class="card-box">
        <table class='table table-bordered'>
         <tr>
           <td style="text-align: center;"><b>Image</b></td>
         </tr>
         <tr>
           <td style="text-align: center;"><img src="{{book.books_image.url}}" height="300" width="300"></td>
         </tr>
         <table class='table table-bordered'>
           <p style="text-align: center;"><b>Book Information</b></p>
           <tr>
             <td>Name</td>
             <td>{{book.books_name}}</td>
           </tr>
           <tr>
             <td>Author Name</td>
             <td>{{book.books_author_name}}</td>
           </tr>
           <tr>
             <td>Purchase Date</td>
             <td>{{book.books_purchase_date|date:"M d, Y"}}</td>
           </tr>
           <tr>
             <td>Catagory</td>
             <td>{{book.catagory}}</td>
           </tr>
           <tr>
             <td>Total Quantity</td>
             <td>{{book.books_quantity}}</td>
           </tr>
           <tr>
             <td>Available Quantity</td>
             <td>{{book.available_quantity}}</td>
           </tr>
           <tr>
             <td>Price</td>
             <td>{{book.books_price}}</td>
           </tr>
           {% if request.user.Role == 'Librarian'%}
           <tr>
             <td>Added By</td>
             <td>{{book.added_by}}</td>
           </tr>
           {% endif %}
         </table>
         {% if request.user.Role == 'Librarian'%}
         {% if allowed %}
         <table class='table table-bordered'>
           <p style="text-align: center;"><b>Readable To</b></p>
           <tr>
            <td>Id</td>
            <td>Book Name</td>
            <td>Author Name</td>
            <td>Return Date</td>
          </tr>
          {% for ebook in allowed %}
          <tr>
            <td>{{ebook.requested_by.id}}</td>
            <td>{{ebook.requested_by.username}}</td>
            <td>{{ebook.requested_by.first_name}}</td>
            <td>{{ebook.readable_upto|date:"M d, Y"}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
        {% endif %}
      </table>
    </div>

  </div>

  {% if request.user.Role == 'Librarian' %}
  <!-- flash model data-dismiss="modal"-->

  <div class="modal fade" id="reservebook" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="exampleModalScrollableTitle">Reservation Form</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'reservation' book.id%}" method="POST" class="form-catagory-add1" enctype="multipart/form-data">
          {% csrf_token %}
          {{form1|crispy}}
          <input type="submit" name="submit" class="btn btn-primary col-md-12">
        </form>
      </div>
      <div class="modal-footer">
        <a href=""><button class="btn btn-secondary">Close</button></a>
      </div>
    </div>
  </div>
</div>

<!-- end flash model -->
<div class="col-sm-4">
 <div class="card-box">
  <h4 class="header-title mt-0 mb-3">Reservation</h4>
  <a href="" class="text-dark" data-target="#reservebook" data-toggle="modal"><button type="button" class="btn btn-block btn--md btn-primary waves-effect waves-light">Reserve</button></a>
</div>

<div class="card-box">
  <h4 class="header-title mt-0 mb-3">Issued To</h4>
  <hr>
  <ul class="list-group mb-0 user-list">
    {% if issued %}
    {% for item in issued %}
    <li class="list-group-item">
      <a href="#" class="user-list-item">
        <div class="user avatar-sm float-left mr-2">
          <img src="{{item.student.profile_pic.url}}" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="user-desc">
          <h5 class="name mt-0 mb-1">{{item.student.get_full_name}}</h5>
          <p class="desc text-muted mb-0 font-12">{{item.student.username}}</p>
        </div>
      </a>
    </li>
    {% endfor %}
    {% else %}
    <p>Issued to No one</p>
    {% endif %}

  </ul>
</div>

<div class="card-box">

  <h4 class="header-title mt-0 mb-3">Notify Requests By</h4>
  <hr>
  <ul class="list-group mb-0 user-list">
    {% if notifyme %}
    {% for item in notifyme %}
    <li class="list-group-item">
      <a href="#" class="user-list-item">
        <div class="user avatar-sm float-left mr-2">
          <img src="{{item.student.profile_pic.url}}" alt="" class="img-fluid rounded-circle">
        </div>
        <div class="user-desc">
          <h5 class="name mt-0 mb-1">{{item.student.get_full_name}}</h5>
          <p class="desc text-muted mb-0 font-12">{{item.student.username}}</p>
        </div>
      </a>
    </li>

    {% endfor %}
    {% else %}
    <p>No Notifyme request for this book</p>
    {% endif %}

  </ul>

</div>



</div>
{% endif %}
</div>        

</div>
{% endblock %}


{% block title %}
<title>Book Detail-Library Management System</title>
{% endblock title %}








