{%extends 'operations/index.html'%}
{% load static%}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card card-body">
      <h4 class="card-title">Book</h4>


      <div class="card mb-4">
         <img class="card-img-top img-fluid" src="{{bookinfo.books_image.url}}" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">{{bookinfo.books_name}}</h4>
           <p class="card-text">Author Name:{{bookinfo.books_author_name}}</p>
        </div>
     </div>



     <p class="card-text">With supporting text below as a natural lead-in to additional
        content.</p>
     </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-body">
      <h4 class="card-title">Student</h4>

      <div class="card mb-4">
         <img class="card-img-top img-fluid" src="{{studentinfo.profile_pic.url}}" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">{{studentinfo.first_name}} {{studentinfo.last_name}}</h4>
           <p class="card-text">Username:{{studentinfo.username}}</p>
        </div>
     </div>


     <p class="card-text">With supporting text below as a natural lead-in to additional
        content.</p>
     </div>
  </div>
</div>
<div class="col-sm-6">
<form method="POST" action="{% url 'issue-confirm' %}"">
   {%csrf_token%}
   <button class="btn btn-primary">Issue</button>
</form>
</div>
{% endblock %}























