<div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0">Register</h4>
                                </div>


<i class="fas fa-envelope"></i>

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'sparktech_lms',
        'USER': 'root',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '3306',
    }
}





class AddBooks(models.Model):
	id=models.PositiveIntegerField('primary_key=True')
	books_name=models.CharField(max_length=100)
	books_image=models.ImageField(upload_to='media')
	books_author_name=models.CharField(max_length=100)
	books_publication_name=models.CharField(max_length=100)
	books_purchase_date=models.DateTimeField(auto_now=True)
	books_price=models.PositiveIntegerField()
	books_quantity=models.PositiveIntegerField()
	available_quantity=models.PositiveIntegerField()
	librarian_username=models.ForeignKey(LRegistration, on_delete=models.CASCADE)

  position: fixed;
    width: 250px;
    overflow-y: scroll;
    top: 300;
    bottom: 0;


class IssueBooks(models.Model):
	id=models.PositiveIntegerField(primary_key=True)
	student_name=models.CharField(SRegistration)
	student_sem=models.CharField(SRegistration)
	student_email=models.CharField(SRegistration)
	student_contact=models.CharField(SRegistration)
	books_name=models.ForeignKey(AddBooks)
	books_issue_date=models.DateTimeField(auto_now=True)
	books_return_date=models.DateTimeField(auto_now=True)
	student_username=models.ForeignKey(SRegistartion)

class LRegistration(models.Model):
	id=models.PositiveIntegerField('primary_key=True')
	firstname=models.CharField(max_length=100)
	lastname=models.CharField(max_length=100)
	username=models.CharField(max_length=100)
	password=models.CharField(max_length=100)
	email=models.CharField(max_length=100)
	contact=models.CharField(max_length=100)




name=forms.CharField(widget=forms.TextInput(
		attrs={'class':'form-control', 'placeholder':'Enter Book Name', 'autofocus':'autofocus'}), required=True, max_length=20)
	book=forms.CharField(widget=forms.FileInput(
		attrs={'name':'myfile' ,'class':'form-control'}), required=True, max_length=20)
	author_name=forms.CharField(widget=forms.TextInput(
		attrs={'class':'form-control', 'placeholder':'Enter Author Name', 'autofocus':'autofocus'}), required=True, max_length=20)
	cover_image=forms.ImageField(widget=forms.FileInput(
		attrs={'class':'form-control'}), required=False)

		
	<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/nprogress.css' %}" rel="stylesheet">
    <link href="{%static 'css/custom.min.css' %}" rel="stylesheet">


https://stackoverflow.com/questions/9258754/spacing-between-thead-and-tbody/9259722
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}

https://codeday.me/es/qa/20190428/590279.html
<script type="text/javascript" src="your_path/jquery.scannerdetection.js"></script>
<script type="text/javascript">
$(document).scannerDetection({
	timeBeforeScanTest: 200, // wait for the next character for upto 200ms
	startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
	endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
	avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
	onComplete: function(barcode, qty){ ... } // main callback function	
});
</script>

//https://github.com/kabachello/jQuery-Scanner-Detection
//https://a.kabachnik.info/jquery-scannerdetection-tutorial.html
//catching barcode scanner
var BarcodeScanerEvents = function() {
     this.initialize.apply(this, arguments);
};

BarcodeScanerEvents.prototype = {
    initialize: function() {
       $(document).on({
          keyup: $.proxy(this._keyup, this)
       });
    },
    _timeoutHandler: 0,
    _inputString: '',
    _keyup: function (e) {
        if (this._timeoutHandler) {
            clearTimeout(this._timeoutHandler);
            this._inputString += String.fromCharCode(e.which);
        } 

        this._timeoutHandler = setTimeout($.proxy(function () {
            if (this._inputString.length <= 3) {
                this._inputString = '';
                return;
            }

            $(document).trigger('onbarcodescaned', this._inputString);

            this._inputString = '';

        }, this), 20);
    }
};



https://stackoverflow.com/questions/49361463/datatables-change-button-style
.withButtons([
   'colvis', 
   { extend: 'copy', className: 'copyButton' },
   'print',
   { extend: 'excel', className: 'excelButton' }
]);


{% extends 'account/baselogin.html'%}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="{% url 'uregister' %}">
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-primary">Register</button>

    <p class="change_link">
    <a href="{% url 'login' %}">Already Have An Account ? </a>
    </p>
    {% endblock %}





    <script type="text/javascript">
    function alert() {
      var data=document.getElementById('data').value
      Swal.fire({
        title: 'Are you sure to return this book?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes,Return'
      }).then((result) => {
        if (result.value) {
          window.location.href = "{{request.scheme}}://{{request.get_host}}/issuedbooks/"+data+"/returnbooks"
          Swal.fire(
            'Returned!',
            'Your Book has been returned.',
            'success'
            )
        }

      })
    }
  </script>