class AddBooks(models.Model):
	id=models.PositiveIntegerField('primary_key=True')
	books_name=models.CharField(max_length=100)
	books_image=models.ImageField(upload_to='media')
	books_author_name=models.CharField(max_length=100)
	books_publication_name=models.CharField(max_length=100)
	books_purchase_date=models.DateTimeField(auto_now=True)
	books_price=models.PositiveIntegerField()
	books_quantity=models.PositiveIntegerField()
	available_quantity=models.PositiveIntegerField()
	librarian_username=models.ForeignKey(LRegistration, on_delete=models.CASCADE)

  position: fixed;
    width: 250px;
    overflow-y: scroll;
    top: 300;
    bottom: 0;


class IssueBooks(models.Model):
	id=models.PositiveIntegerField(primary_key=True)
	student_name=models.CharField(SRegistration)
	student_sem=models.CharField(SRegistration)
	student_email=models.CharField(SRegistration)
	student_contact=models.CharField(SRegistration)
	books_name=models.ForeignKey(AddBooks)
	books_issue_date=models.DateTimeField(auto_now=True)
	books_return_date=models.DateTimeField(auto_now=True)
	student_username=models.ForeignKey(SRegistartion)

class LRegistration(models.Model):
	id=models.PositiveIntegerField('primary_key=True')
	firstname=models.CharField(max_length=100)
	lastname=models.CharField(max_length=100)
	username=models.CharField(max_length=100)
	password=models.CharField(max_length=100)
	email=models.CharField(max_length=100)
	contact=models.CharField(max_length=100)




name=forms.CharField(widget=forms.TextInput(
		attrs={'class':'form-control', 'placeholder':'Enter Book Name', 'autofocus':'autofocus'}), required=True, max_length=20)
	book=forms.CharField(widget=forms.FileInput(
		attrs={'name':'myfile' ,'class':'form-control'}), required=True, max_length=20)
	author_name=forms.CharField(widget=forms.TextInput(
		attrs={'class':'form-control', 'placeholder':'Enter Author Name', 'autofocus':'autofocus'}), required=True, max_length=20)
	cover_image=forms.ImageField(widget=forms.FileInput(
		attrs={'class':'form-control'}), required=False)

		
	<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/nprogress.css' %}" rel="stylesheet">
    <link href="{%static 'css/custom.min.css' %}" rel="stylesheet">


https://stackoverflow.com/questions/9258754/spacing-between-thead-and-tbody/9259722
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}