{%extends 'operations/main.html'%}
{% load static %}
{% block content %}

<!-- page content area main -->
{% if books %}
<table class='table table-bordered' id='mytable' style="">
<thead>
  <tr>
    <th>ID</th>
    <th>Books Name</th>
    <th>Books Image</th>
    <th>Author Name</th>
    <th>Publication Name</th>
    {% if request.user.Role == 'Librarian' %}
    <th>Available Quantity</th>
    <th>Barcode</th>
    <th>Edit/Delete</th>
    {% endif %}

    {% if request.user.Role == 'Student' %}
    <th>Availability</th>
    {% endif %}
    <th>Detail</th>
  </tr>
  </thead>
  
  <tbody>
  {% for book in books.all %}
  <tr>
    <td>{{book.id}}</td>
    <td>{{book.books_name}}</td>
    <td><img src="{{book.books_image.url}}" height=50 width=50></td>
    <td>{{book.books_author_name}}</td>
    <td>{{book.books_publication_name}}</td>

    {% if request.user.Role == 'Librarian'%}
    <td>{{book.available_quantity}}</td> 
    {% if book.barcode %}
    <td>
      <button onclick="printJS('{{book.barcode.url}}', 'image')" class="btn btn-warning">Print BarCode</button>
    </td>
    {% else %}
    <td>
      <a href="{% url 'book-barcode' book.id %}"><button class="btn btn-warning">Generate BarCode</button></a>
    </td>
    {% endif %}
    <td>
     <a href="{% url 'editbook' book.id %}"><button class="btn btn-warning">Edit</button></a>
     <a href="{% url 'deletebook' book.id %}"><button class="btn btn-danger">Delete</button></a>
   </td>

   {% endif %}
   {% if request.user.Role == 'Student' %}
   {%if book.available_quantity > 0 %}
   <td style='color: blue;'><b>Available</b></td>
   {% else %}
   <td style="color: red;"><b>Unavailable</b><br/>
   {% if book.id in noti_lst %}
    <p>Notify on Available</p>
  {% else %}
  <a href="{% url 'notifyme' book.id%}">Notify on Available</a>
  {% endif %}
   </td>
   {%endif%}
   {% endif %}
   <td><a href="{% url 'detail-book' book.id%}">detail</a></td>
 </tr>     
 {% endfor %}
 </tbody>
</table>
{% endif %}



<!-- /page content -->
{% endblock %}

{% block sidebar%}
{%include 'operations/sidebar.html'%}
{% endblock sidebar %}

{% block title %}
<title>Book List | LMS </title>   
{% endblock title %}

{% block js %}

{% if request.user.Role == "Librarian" %}
{% include 'operations/js1.html'%}
{% else %}
{% include 'operations/js.html'%}
{% endif %}
<script src="print.js"></script>
<script type="text/javascript" src='https://printjs-4de6.kxcdn.com/print.min.js'>
</script>


{% endblock js %}


{% block heading %}
<h2>Books List </h2>
<div class="container">
  <div class="row">
   <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catagory
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'displaybooks' %}">All</a>
        {% for item in catagories %}
        <a class="dropdown-item" href="{% url 'book-catagory' item.catagory  %}">{{item.catagory}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock heading %}


{% block css%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
{% endblock css%}





