{%extends 'operations/main.html'%}
{% load static %}
{% block content %}
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Catagory
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for item in catagory %}
    <a class="dropdown-item" href="{% url 'ebook-catagory' item.catagory  %}">{{item.catagory}}</a>
    {% endfor %}
  </div>
</div>
<!-- page content area main -->

<!-- Basic dropdown -->
{% if ebooks%}
<h2>Display Books</h2>
<table class='table table-bordered'>
  <tr>
    <th>ID</th>
    <th>Books Name</th>
    <th>Author Name</th>
    {% if request.user.Role == 'Librarian'%}
    <th>Book File</th>
    <th>Action</th>
    {% endif %}

    {% if request.user.Role == 'Student'%}
    <th>Action</th>
    {% endif %}
    <td><b>Detail</b></td>
  </tr>
  
  
  {% for book in ebooks %}
  <tr>
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.author_name}}</td>

    {% if request.user.Role == 'Librarian'%}
    <td><a href="{{book.book.url}}"><button class="btn btn-primary">Read</button></a></td>
    <td><a href="{%url 'edit-ebook' book.id%}"><button class="btn btn-warning">Edit</button></a>
     <a href="{%url 'delete-ebook' book.id%}"><button class="btn btn-danger">Delete</button></a></td>
    {% endif %}

    


    {% if request.user.Role == 'Student'%}
    <td><a href="{% url 'view-request' book.id%}"><button class="btn btn-primary">Send view request</button></a> </td>
    {% endif %}
    <td><a href="{% url 'detail-ebook' book.id%}">detail</a></td>
  </tr>   
  {% endfor %}
</table>
{% else %}
<h1>No EBooks Uploaded</h1>
{% endif %}


<!-- /page content -->
{% endblock %}

{% block sidebar%}
 {%include 'operations/sidebar.html'%}
 {% endblock sidebar %}