{%extends 'operations/index.html'%}
{% load static %}
{% block content %}
<!-- page content area main -->

<!-- Basic dropdown -->


{% if activities %}
<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="mt-0 header-title">Ebook Records</h4>
      <p class="text-muted font-14 mb-3">
      </p>

      <table id="selection-table1" class="table table-bordered dt-responsive nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Books Name</th>
      <th>Author Name</th>
      <th>Action date</th>
      <th>Name</th>
      <th>UserName</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for book in activities %}
      <tr>
        <td>{{book.ebook.id}}</td>
        <td>{{book.ebook.name}}</td>
        <td>{{book.ebook.author_name}}</td>
        <td>{{book.action_date|date:"M d, Y"}}</td>
        <td>{{book.requested_by.first_name}} {{book.requested_by.last_name}}</td>
        <td>{{book.requested_by.username}}</td>
        {% if book.action == 'Allowed' %}
        <td style="color: blue;"><b>Allowed</b></td>
        {% endif %}
        {% if book.action == 'Denied' %}
        <td style="color: red;"><b>Denied</b></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  </div>
  {% else %}
  <h1>No EBooks Activities</h1>
  {% endif %}


  <!-- /page content -->
  {% endblock %}


{% block js %}
 {% include 'operations/js.html'%}
 {% endblock js %}



{% block title %}
   <title>Ebook  Records-Library Management System</title>
 {% endblock title %}


  