
{%extends 'operations/index.html'%}
{% block content %}
<!-- page content area main -->

<!-- Basic dropdown -->
{% if ebooks%}
<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="mt-0 header-title">Multi item selection</h4>
      <div class="btn-group dropdown mt-1">
        <button type="button" class="btn btn-success waves-effect waves-light">Catagories</button>
        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-chevron-down"></i></button>
        <div class="dropdown-menu" x-placement="bottom-start">
          <!-- item-->
          <a href="{% url 'list-ebooks' %}" class="dropdown-item">All</a>
          {% for item in catagories%}
          <a href="{% url 'ebook-catagory' item.catagory  %}" class="dropdown-item">{{item.catagory}}</a>
          {% endfor %}
        </div>
        {% if request.user.Role == 'Librarian' %}
        <div class="mx-2">
          <a href="{% url 'add-ebooks' %}" class="btn btn-lg btn-success font-16 btn-block waves-effect waves-light">
          <i class="fa fa-plus mr-1"></i> Create New
        </a>
        </div>
      {% endif %}
      </div>
      <p class="text-muted font-14 mb-3">
      </p>

      {% if request.user.Role == 'Student' %}
      <table id="responsive-datatable1" class="table table-bordered table-bordered dt-responsive nowrap">
      {% else %}
      <table id="selection-table1" class="table table-bordered dt-responsive nowrap">
      {% endif %}
        <thead>
          <tr>
            <th>ID</th>
            <th>Books Name</th>
            <th>Author Name</th>
            {% if request.user.Role == 'Librarian'%}
            <th>Book File</th>
            <th>Action</th>
            {% endif %}

            {% if request.user.Role == 'Student'%}
            <th>Action</th>
            {% endif %}
            <td><b>Detail</b></td>
          </tr>
        </thead>

        <tbody>
          {% for book in ebooks.all %}
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author_name}}</td>

            {% if request.user.Role == 'Librarian'%}
            <td>
              <form method="POST" action="{% url 'view' book.id %}">
                {% csrf_token %}
                <input type="numbers" name="q" value="{{book.id}}" hidden="true">
                <button class="btn btn-primary"><i class="fas fa-book-open"></i></button>
              </form>
            </td>
            <td><a href="{%url 'edit-ebook' book.id%}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
             <a href="{%url 'delete-ebook' book.id%}"><button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></button></a></td>
             {% endif %}

             {% if request.user.Role == 'Student'%}
             {% if book.id in req_list %}
             <td><a href="{% url 'view-request' book.id%}">
             <button type="button" class="btn btn-lighten-success waves-effect  width-md waves-success" disabled="">send view request</button>
             </a> </td>
             {% else %}
             <td>
             <a href="{% url 'view-request' book.id%}">
             <button type="button" onclick="ebookreqalert()" class="btn btn-success waves-effect width-md waves-light">send view request</button>
             </a>
             </form>
             </td>
             {% endif %}
             {% endif %}
             <td><a href="{% url 'detail-ebook' book.id%}">
             <button class="btn btn-primary">detail</button>
             </a></td>
           </tr>   
           {% endfor %}
         </tbody>
       </table>
     </div>
   </div>
 </div>

 {% else %}
 <h1>No EBooks Uploaded</h1>
 {% endif %}
 <!-- /page content -->
 {% endblock %}


 {% block js %}
 {% include 'operations/js.html'%}
 {% endblock js %}

 