{%extends 'operations/index.html'%}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
        <h4 class="header-title mt-0 mb-3">EBook Detail</h4>
          <div class="profile-info-name">
            <img src="{{ebook.cover_image.url}}" class="rounded-circle avatar-xl img-thumbnail float-left mr-3" alt="profile-image">

            <div class="profile-info-detail overflow-hidden">
              <h4 class="m-0">{{ebook.name}}</h4>
              <p class="text-muted"><i>{{ebook.catagory}}</i></p>
              <p class="font-13">Hi {{ebook.name}},has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature it over 2000 years to popular belief Ipsum is not simplyrandom text.</p>

            </div>

            <div class="clearfix"></div>
          </div>
        </div>
        <!--/ meta -->


        <div class="card-box">
          <table class='table table-bordered'>
           <tr>
             <td style="text-align: center;"><b>Image</b></td>
           </tr>
           <tr>
             <td style="text-align: center;">
             <img src="{{ebook.cover_image.url}}" height="300" width="300">
             </td>
           </tr>
           <table class='table table-bordered'>
             <p style="text-align: center;"><b>EBook Information</b></p>
             <tr>
               <td>Name</td>
               <td>{{ebook.name}}</td>
             </tr>
             <tr>
               <td>Author Name</td>
               <td>{{ebook.author_name}}</td>
             </tr>
             <tr>
               <td>Added Date</td>
               <td>{{ebook.added_date|date:"M d, Y"}}</td>
             </tr>
             <tr>
               <td>Catagory</td>
               <td>{{ebook.catagory}}</td>
             </tr>
           </table>

         </div>

       </div>

       {% if request.user.Role == 'Librarian' %}
       <div class="col-sm-4">

        <div class="card-box">
          <h4 class="header-title mt-0 mb-3">Issued To</h4>
          <hr>
          <ul class="list-group mb-0 user-list">
            {% if allowed %}
            {% for item in allowed %}
            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="user avatar-sm float-left mr-2">
                  <img src="{{item.requested_by.profile_pic.url}}" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="user-desc">
                  <h5 class="name mt-0 mb-1">{{item.requested_by.get_full_name}}</h5>
                  <p class="desc text-muted mb-0 font-12">{{item.requested_by.username}}</p>
                </div>
              </a>
            </li>
            {% endfor %}
            {% else %}
            <p>Allowed to No one</p>
            {% endif %}

          </ul>
        </div>

        </div>



      </div>
      {% endif %}
    </div>        

  </div>
  {% endblock %}


  {% block title %}
   <title>Ebook Detail-Library Management System</title>
 {% endblock title %}


  





















