{%extends 'operations/index.html'%}
{% load static %}
{% block content %}

<!-- page content area main -->
{% if requests %}
<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h2 class="mt-0 header-title">EBook Requests</h2>
      <p class="text-muted font-14 mb-3"></p>
      <table id="selection-table1" class="table table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>ID</th>
            <th>Books Name</th>
            <th>Author Name</th>
            <th>Requested_by</th>
            <th>Requested_date</th>
            <th>Allow</th>
            <th>Deny</th>
          </tr>
        </thead>
        <tbody>
          {% for book in requests%}
          <tr>
            <td>{{book.ebook.id}}</td>
            <td>{{book.ebook.name}}</td>
            <td>{{book.ebook.author_name}}</td>
            <td>{{book.requested_by.username}}</td>  
            <td>{{book.requested_date|date:"M d, Y"}}</td>
            <td>
            <form method="POST" action="{% url 'allow' book.id %}">
            {% csrf_token %}
             <button class="btn btn-primary" value="allow" id="{{book.id}}" type="button" onclick="Actionrequest(this.id, this.value);"><i class="fas fa-check"></i></button>
             </form>
             </td>
             <td>
             <form method="POST" action="{% url 'deny' book.id %}">
                {% csrf_token %}
                <button value="deny" id="{{book.id}}" type="button" class="btn btn-danger" onclick="Actionrequest(this.id, this.value);"><i class="fa fa-times" aria-hidden="true"></i></button>
             </form>
           </td>
         </tr>     
         {% endfor %}
       </tbody>
     </table>
   </div>
 </div>
 {% else %}
 <h1>No Ebooks Requests </h1>
 {% endif %}
 <!-- /page content -->
 {% endblock %}


{% block js %}
{% include 'operations/js.html'%}
  {% endblock js%}

 