{%extends 'operations/index.html'%}
{% block content %}


<table class='table table-bordered'>
 <tr>
   <td style="text-align: center;"><b>Image</b></td>
 </tr>
 <tr>
 <td style="text-align: center;"><img src="{{ebook.cover_image.url}}" height="300" width="300"></td>
 </tr>
 <table class='table table-bordered'>
 <p style="text-align: center;"><b>EBook Information</b></p>
   <tr>
   <td>Name</td>
   <td>{{ebook.name}}</td>
 </tr>
 <tr>
   <td>Author Name</td>
   <td>{{ebook.author_name}}</td>
 </tr>
 <tr>
   <td>Added Date</td>
   <td>{{ebook.added_date|date:"M d, Y"}}</td>
 </tr>
 <tr>
   <td>Catagory</td>
   <td>{{ebook.catagory}}</td>
 </tr>
 </table>
 {% if request.user.Role == 'Librarian'%}
 {% if allowed %}
 <table class='table table-bordered'>
 <p style="text-align: center;"><b>Readable To</b></p>
    <tr>
      <td>Id</td>
       <td>Book Name</td>
       <td>Author Name</td>
       <td>Return Date</td>
    </tr>
    {% for ebook in allowed %}
    <tr>
    <td>{{ebook.requested_by.id}}</td>
      <td>{{ebook.requested_by.username}}</td>
      <td>{{ebook.requested_by.first_name}}</td>
      <td>{{ebook.readable_upto|date:"M d, Y"}}</td>
    </tr>
    {% endfor %}
 </table>
 {% endif %}
 {% endif %}
 </table>
                               


{% endblock %}





















