{% extends 'operations/index.html'%}

{% load static %}
{% block content %}
<div class="container-fluid">
<div class="card-box">
<div class="text-center mb-4">
<h2>Dashboard</h2>
</div>
</div>

{% if request.user.Role == 'Student'%}
<div class="row">
    <div class="col-xl-6">
        <div class="card-box">
            <div class="text-center mb-4">
            <h4 class="header-title mt-0 mb-3">Ebook Request Records of {{request.user.get_full_name}}</h4>
            </div>
            <div class="chartjs-line">
               <canvas id="line-chart" width="800" height="450"></canvas>
            </div>
        </div>
    </div><!-- end col-->

    <div class="col-xl-6">
        <div class="card-box">
            <div class="text-center mb-4">
            <h4 class="header-title mt-0 mb-3">
            My fined and Non-fined Records
            </h4>
            </div>
            <div class="chartjs-chart">
                <canvas id="doughnut1" height="170"></canvas>
            </div>
        </div>
    </div><!-- end col-->
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card-box">
        <div class="text-center mb-4">
            <h4 class="header-title mt-0 mb-3">Issue And Return Record in Fiseal Year {{curr_date.year}} of {{request.user.username}}</h4>
            </div>
            <div class="chartjs-chart">
               <canvas id="bar-chart-grouped" width="800" height="500"></canvas>
            </div>
        </div>
    </div>
</div> 
{% else %}
    <div class="row">

        <div class="col-xl-3 col-md-6">

            <div class="card-box">

                <h4 class="header-title mt-0 mb-4">Today's Issued Analytics</h4>

                <div class="widget-chart-1">
                    <div class="widget-chart-box-1 float-left" dir="ltr">
                        <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                        data-bgColor="#F9B9B9" value="{{issued_today}}"
                        data-skin="tron" data-angleOffset="180" data-readOnly=true
                        data-thickness=".15"/>
                    </div>

                    <div class="widget-detail-1 text-right">
                        <h2 class="font-weight-normal pt-2 mb-1"> {{issued_today}} </h2>
                        <p class="text-muted mb-1">Issued Today</p>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

        <div class="col-xl-3 col-md-6">
            <div class="card-box">

                <h4 class="header-title mt-0 mb-3">Today's Return Analytics</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-right">
                        <span class="badge badge-success badge-pill float-left mt-3">0% <i class="mdi mdi-trending-up"></i> </span>
                        <h2 class="font-weight-normal mb-1"> {{ returned_today}} </h2>
                        <p class="text-muted mb-3">Returned today</p>
                    </div>
                    <div class="progress progress-bar-alt-success progress-sm">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                        style="width: 1%;">
                        <span class="sr-only">77% Complete</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card-box">

            <h4 class="header-title mt-0 mb-4">Monthly Statistics</h4>

            <div class="widget-chart-1">
                <div class="widget-chart-box-1 float-left" dir="ltr">
                    <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                    data-bgColor="#FFE6BA" value="1"
                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                    data-thickness=".15"/>
                </div>
                <div class="widget-detail-1 text-right">
                    <h2 class="font-weight-normal pt-2 mb-1"> {{issued_monthly}} </h2>
                    <p class="text-muted mb-1">Issued This Month</p>
                </div>
            </div>
        </div>
        
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card-box">
            <h4 class="header-title mt-0 mb-3">Monthly Statistics</h4>

            <div class="widget-box-2">
                <div class="widget-detail-2 text-right">
                    <span class="badge badge-pink badge-pill float-left mt-3">0.01% <i class="mdi mdi-trending-up"></i> </span>
                    <h2 class="font-weight-normal mb-1"> {{returned_monthly}} </h2>
                    <p class="text-muted mb-3">Monthly Return</p>
                </div>
                <div class="progress progress-bar-alt-pink progress-sm">
                    <div class="progress-bar bg-pink" role="progressbar"
                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                    style="width: 1%;">
                    <span class="sr-only">77% Complete</span>
                </div>
            </div>
        </div>
    </div>
    
</div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-6">
        <div class="card-box">
            <div class="text-center mb-4">
            <h4 class="header-title mt-0 mb-3">Ebook Request Records</h4>
            </div>
            <div class="chartjs-chart">
               <canvas id="pie" height="200"></canvas>
            </div>
        </div>
    </div><!-- end col-->

    <div class="col-xl-6">
        <div class="card-box">
            <div class="text-center mb-4">
            <h4 class="header-title mt-0 mb-3">
            Overall fined and Non-fined Records
            </h4>
            </div>
            <div class="chartjs-chart">
                <canvas id="doughnut" height="200"></canvas>
            </div>
        </div>
    </div><!-- end col-->
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card-box">
        <div class="text-center mb-4">
            <h4 class="header-title mt-0 mb-3">Issue And Return Record of Fiseal Year {{curr_date.year}}</h4>
            </div>
            <div class="chartjs-chart">
               <canvas id="bar-chart-grouped" width="800" height="500"></canvas>
            </div>
        </div>
    </div><!-- end col-->
</div> <!-- container -->
{% endif %}

</div> 

{% endblock %}


{% block js%}
{% include 'operations/chart.html'%}
<script type="text/javascript">

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ['Jan','Feb','Mar','Apr','May','Jun',
    'Jul','Aug','Sep','Oct','Nov','Dec'],
    datasets: [{ 
        data:{{allowed_std}},
        label: "Allowed",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: {{denied_std}},
        label: "Denied",
        borderColor: "#8e5ea2",
        fill: false
      }, 
    ]
  },
});


var dtx = document.getElementById('doughnut1').getContext('2d');
var doChart = new Chart(dtx, {
    type: 'doughnut',
    data: {
        labels: ["Fined","Non-fined"],
        datasets: [{
            label: '# of Votes',
            data: [{{std_fined}},{{std_nonfined}}],
            backgroundColor:["#188ae2","#f9c851"],
            hoverBackgroundColor:["#188ae2","#f9c851"],
            hoverBorderColor:"#fff",
        }]
    },
});

new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: ["Jan", "Feb", "March", "Apr", "May", 
      'Jun', 'July', 'Aug','Sep', 'Oct', 'Nov', 'Dec'],
      datasets: [
        {
          label: "Issued",
          backgroundColor: "#188ae2",
          data:{{my_issued}}
        }, {
          label: "Returned",
          backgroundColor: "#f9c851",
          data:{{my_returned}}
        }
      ]
    },
});



</script>
{% endblock js%}


{% block title %}
   <title>DashBoard-Library Management System</title>
 {% endblock title %}


