{%extends 'operations/main.html'%}
{% load static %}
{% block content %}

<!-- page content area main -->

<h2>Return Book</h2>
<table class='table table-bordered'>
  <tr>
    <th>ID</th>
    <th>Books Name</th>
    <th>Books Author</th>
    <th>Issued To</th>
    <th>Issued Date</th>
    <th>Return Date</th>
    <th>Fine</th>
    <th>Return</th>
  </tr>
  {% for item in issueditems%}
  <tr>
  <td>{{item.id}}</td>
  <td>{{item.book.books_name}}</td>
  <td>{{item.book.books_author_name}}</td>
  <td>{{item.student.first_name}} {{item.student.last_name}}</td>
  <td>{{item.issued_date|date:"M d, Y"}}</td>
  <td>{{item.return_date|date:"M d, Y"}}</td>
  <td>{{item.fine}} Rs</td>
  <td><a href="{%url 'returnbooks' item.id%}"><button class='btn btn-primary'>Return</button></a>
    
  </tr>
  {% endfor%}   
 </table>


 <!-- /page content -->
 {% endblock %}