{%extends 'operations/main.html'%}
{% block content%}
{% if request.post %}
good
{% else %}
<form action="{% url 'issuebooks'%}" method="POST" class="col-lg-8" enctype="multipart/form-data">
 {% csrf_token %}
 {{form.as_p}}
 <input type="submit" name="submit" class="btn btn-primary">
</form>
{% endif %}

{%endblock%}
{% block sidebar%}
 {%include 'operations/sidebar.html'%}
 {% endblock sidebar %}

 {% block title %}
 <title>Issue Books | LMS </title>   
{% endblock title %}

{% block heading %}
<h2>Issue Books </h2>
{% endblock heading %}



