
<script type="text/javascript">

$(document).ready( function () {
  var table = $('#responsive-datatable1').DataTable( {
    pageLength : 5,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']]
  } )
} );


$(document).ready(function() {
  $('#selection-table1').DataTable( {
    dom: "Bfrtip",
    lengthMenu: [
            [ 5, 10, 20, -1 ],
            [ '5 rows', '10 rows', '20 rows', 'All' ]
        ],
        buttons: [
            'copy',
            'csv',
            'excel',
            'pdf',
            'pageLength',
            {
                extend: 'print',
                text: 'Print all',
                exportOptions: {
                    modifier: {
                        selected: null
                    }
                }
            },
            {
                extend: 'print',
                text: 'Print selected'
            }
        ],
        select:{
            style:"multi",
        },

  } );
} );
</script>