{%extends 'operations/index.html'%}
{% load static %}
{% block content %}

{% if librarians%}
<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="mt-0 header-title">All Librarian Information</h4>
      <p class="text-muted font-14 mb-3"></p>


      <table id="selection-table1" class="table table-bordered dt-responsive nowrap">
        <thead>
         <tr>
           <th>ID</th>
           <th>Firstname</th>
           <th> Lastname </th>
           <th> Username</th>
           <th> Contact</th>
           <th>Status</th>
           <th>detail</th>
           <th>Action</th>
         </tr>
       </thead>
       <tbody>
         {% for std in librarians.all %}
         <tr>
          <td>{{std.id}}</td>
          <td>{{std.first_name}}</td>
          <td>{{std.last_name}}</td>
          <td>{{std.username}}</td>
          <td>{{std.contact}}</td>
          <td>
          {%if std.is_active == True %}
            <a href="{% url 'inactivate' std.id%}">
              <button class="btn btn-info">Active</button>
            </a>
          {% else %}
          <a href="{% url 'activate' std.id%}">
              <button class="btn btn-danger">Inactive</button>
            </a>
          {% endif%}
          </td>
          <td><a href="{% url 'std-detail' std.id%}">
          <button class="btn btn-info">detail</button></a></td>

          <td>
            <a href="{%url 'deletestd' std.id%}"><button class="btn btn-danger"><i class="fas fa-trash"></i></button></a>
  
            <a href="{%url 'editlib' std.id%}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
          </td>
          {% endfor %}

        </tr>
      </tbody>                                 
    </table>
  </div>
</div>
</div>
{% endif %}
{% endblock %}


{% block js %}
{% include 'operations/js.html'%} 
{% endblock js%}

{% block title %}
   <title>All student Records-Library Management System</title>
 {% endblock title %}



