{%extends 'operations/index.html'%}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="mt-0 header-title">Multi item selection</h4>
      <p class="text-muted font-14 mb-3">
      </p>

      <table id="responsive-datatable1" class="table table-bordered table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Posted By</th>
            <th>Posted_on</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          {% for msg in msgs %}
          <tr>
             {% if msg.read == False %}
             <td><h5>{{msg.id}}</h5></td>
            <td><h5>{{msg.title}}</h5></td>
            <td><h5>{{msg.posted_by}}</h5></td>
            <td><h5>{{msg.Posted_on}}</h5></td>
            {% else %}
            <td>{{msg.id}}</td>
            <td>{{msg.title}}</td>
            <td>{{msg.posted_by}}</td>
            <td>{{msg.Posted_on}}</td>
            {% endif %}
            <td><a href="{% url 'view-msg-detail' msg.id%}"><button class="btn btn-info">View</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}


{% block js %}
{% include 'operations/js.html'%}
{% endblock js %}



