{%extends 'operations/main.html'%}
{% block content %}
<table class='table table-bordered' id="mytable">
<thead>
 <tr>
   <th>ID</th>
   <th>Title</th>
   <th>Posted_on</th>
   <th>View</th>
 </tr>
</thead>
 <tbody>
 {% for msg in msgs|slice:'10'%}

 <tr>
   
   <td>{{msg.id}}</td>
   <td>{{msg.title}}</td>
   <td>{{msg.Posted_on}}</td>
   
   <td>
   {% if msg.read == False %}
   <a href="{% url 'view-msg-detail' msg.id%}"><button class="btn btn-info">View</button></a>
   {% else %}
   <a href="{% url 'view-msg-detail' msg.id%}"><button class="btn btn-info">Viewed</button></a>
   {% endif %}
   </td>

 </tr>
{% endfor %} 
</tbody>                               
</table>


{% endblock %}

{% block sidebar%}
{%include 'operations/sidebar.html'%}
{% endblock sidebar %}

{% block title %}
<title> List Message | LMS </title>   
{% endblock title %}

{% block js %}
{% include 'operations/js.html'%}
{% endblock js %}



{% block heading %}
<h2>Message List </h2>
{% endblock heading %}
























