{%extends 'operations/main.html'%}
{% block content %}

<table class='table table-bordered'>
 <tr>
   <td style="text-align: center;"><b>{{msg_detail.title}}</b></td>
 </tr>
   <tr>
   <td style="text-align: center;">{{msg_detail.Description}}</td>
 </tr>
 </table>

                               
{% endblock %}

{% block sidebar%}
 {%include 'operations/sidebar.html'%}
 {% endblock sidebar %}

 {% block title %}
 <title>Message | LMS </title>   
{% endblock title %}

{% block heading %}
<h2>Message</h2>
{% endblock heading %}
























