{%extends 'operations/index.html'%}
{% block content %}
{% if readable_book%}
<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="mt-0 header-title">My Readable Book</h4>
      <p class="text-muted font-14 mb-3">
      </p>

      <table id="responsive-datatable1" class="table table-bordered table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>ID</th>
            <th>Books Name</th>
            <th>Author Name</th>
            <th>Valid Till</th>
            <th>Book File</th>
          </tr>
        </thead>
        <tbody>
          {% for book in readable_book %}
          <tr>
            <td>{{book.ebook.id}}</td>
            <td>{{book.ebook.name}}</td>
            <td>{{book.ebook.name}}</td>
            <td>{{book.readable_upto|date:"M d, Y"}}</td>
            <td>
              <form method="POST" action="{% url 'view' book.ebook.id %}">
                {% csrf_token %}
                <a href="{{book.ebook.book.url}}"><button class="btn btn-primary"> <i class="fas fa-book-open"></i></button></a>
              </form>
            </td>
          </tr>     
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%else%}
<h1>No EBooks </h1>
{% endif %}
{% endblock%}}


{% block js %}
 {% include 'operations/js.html'%}
 {% endblock js %}

 {% block title %}
   <title>My Readable Book-Library Management System</title>
 {% endblock title %}


  



