{%extends 'operations/main.html'%}
{% block content %}
<h2>My Issued Books</h2>
{% if issuedbooks %}
<table class='table table-bordered'>
	<tr>
		<th>ID</th>
		<th>Books Name</th>
		<th>Books Image</th>
		<th>Author Name</th>
		<th>Publication Name</th>
		<th>Issued Date</th>
		<th>Return Date</th>
		<th>Fine Amount</th>
	</tr>
	{% for item in issuedbooks%}
	<tr>
		<td>{{item.book.id}}</td>
		<td>{{item.book.books_name}}</td>
		<td><img src="{{item.book.books_image.url}}" height=100 width=100></td>
		<td>{{item.book.books_author_name}}</td>
		<td>{{item.book.books_publication_name}}</td>  
		<td>{{item.issued_date|date:"M d, Y"}}</td>
		<td>{{item.return_date|date:"M d, Y"}}</td>
		<td><b>{{item.fine}}</b></td>
	</tr> 
	{% endfor %}
	{%else%}
	<h1>No Book Issued </h1>
	{% endif %}
	{% endblock%}}}
