{%extends 'operations/index.html'%}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card-box">
        <!-- Div to show the scanner -->
        <div id="scanner-container"></div>
        <input class="btn btn-info col-md-6" type="button" id="btn" value="Start/Stop the scanner" /><br>
        <form method="POST" id="formq" class="my-2">
        {% csrf_token %}
        <input type="number" name="std_id" id="std_id"  class="col-md-6 form-control">
    </form>
    </div>
</div>
</div>
{% endblock %}


{% block js %}
{% include 'operations/js.html'%}
<!-- Include the image-diff library -->
<script src="quagga.min.js"></script>

<!-- Include the image-diff library -->
<script type="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js'></script>

<script type="text/javascript">

document.addEventListener("keypress", function(e) {
  if (e.target.tagName !== "INPUT") {
    var input = document.querySelector("#std_id");
    input.focus();
  }
});




$('#formq').submit(function(e){
    var input =document.getElementById('std_id').value
    e.preventDefault();
    
   if(input.trim() != "")
    {

     window.location.href = "{{request.scheme}}://{{request.get_host}}/liststd/"+input+"/detail"

    }
    var input =document.getElementById('std_id').value=""
        
});

</script>

{% endblock js %}


{% block css%}
<style>
    /* In order to place the tracking correctly */
    canvas.drawing, canvas.drawingBuffer {
        position: absolute;
        left: 0;
        top: 0;
    }

</style>
{% endblock css %}


{% block title %}
   <title>Scan-Library Management System</title>
 {% endblock title %}



