{%extends 'operations/index.html'%}
{% load static %}
{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      <div class="bg-picture card-box">
        <div class="profile-info-name">
          <img src="{{std.profile_pic.url}}" class="rounded-circle avatar-xl img-thumbnail float-left mr-3" alt="profile-image">

          <div class="profile-info-detail overflow-hidden">
            <h4 class="m-0">{{std.first_name}} {{std.last_name}}</h4>
            <p class="text-muted"><i>{{std.username}}</i></p>
            <p class="font-13">Hi I'm {{std.first_name}},has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature it over 2000 years to popular belief Ipsum is not simplyrandom text.</p>

            <ul class="social-list list-inline mt-3 mb-0">
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i class="mdi mdi-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
              </li>
              <li class="list-inline-item">
              <a href="{% url 'msg_std' std.id %}"><button type="button" class="btn btn-primary btn-rounded waves-effect waves-light">Send Message</button></a>
              </li>
            </ul>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <!--/ meta -->



      
      <div class="card-box">
        <h4 class="header-title mt-0 mb-3"><i class="mdi mdi-notification-clear-all mr-1"></i>Messages</h4>

        {% for item  in message|slice:'5'%}
        <div class="media mb-2">
          <img src="{% static 'assets/images/users/user-1.jpg' %}" alt="" class="comment-avatar avatar-sm rounded mr-2">
          <div class="media-body">
            <h5 class="mt-0"><a href="#" class="text-dark">{{item.posted_by}}</a><small class="ml-1 text-muted">{{item.Posted_on}}</small></h5>
            <p>{{item.title}}</p>
          </div>
        </div>
        {% endfor %}
        <!--  media -->


      </div>

    </div>

    <div class="col-sm-4">

      <div class="card-box">

        <h4 class="header-title mt-0 mb-3">Student Information</h4>
        <table class="table table-bordered table-bordered dt-responsive nowrap">
          <tr>
            <td>Id</td>
            <td>{{std.id}}</td>
          </tr> 
          <tr>
            <td>Name</td>
            <td>{{std.get_full_name}}</td>
          </tr> 
          <tr>
            <td>Username</td>
            <td>{{std.username}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{std.email}}</td>
          </tr> 
          <tr>
            <td>Contact</td>
            <td>{{std.contact}}</td>
          </tr> 
          <tr>
            <td>Enrollment</td>
            <td>{{course.Enrollment}}</td>
          </tr>
          <tr>
            <td>Year</td>
            <td>{{course.year}}</td>
          </tr>

        </table>

      </div>




      <div class="card-box">

        <h4 class="header-title mt-0 mb-3">Issued Books</h4>

        <ul class="list-group mb-0 user-list">
          {% if book_issued %}
          {% for book in book_issued%}

          <li class="list-group-item">
            <a href="#" class="user-list-item">
              <div class="user avatar-sm float-left mr-2">
                <img src="{{book.book.books_image.url}}" alt="" class="img-fluid rounded-circle">
              </div>
              <div class="user-desc">
                <h5 class="name mt-0 mb-1">{{book.book.books_name}}</h5>
                <p class="desc text-muted mb-0 font-12">{{book.book.books_author_name}}</p>
              </div>
            </a>
          </li>

          {% endfor %}
          {% else %}
          <p>No Issued Books</p>
          {% endif %}
        </ul>
      </div>

      <div class="card-box">

        <h4 class="header-title mt-0 mb-3"><i class="mdi mdi-notification-clear-all mr-1"></i>Notify on Available Request</h4>

        <ul class="list-group mb-0 user-list">
          {% if notify%}
          {% for item in notify %}

          <li class="list-group-item">
            <a href="#" class="user-list-item">
              <div class="user float-left mr-3">
                <i class="mdi mdi-circle text-info"></i>
              </div>
              <div class="user-desc overflow-hidden">
                <h5 class="name mt-0 mb-1">{{item.book.books_name}}</h5>
                <span class="desc text-muted font-12 text-truncate d-block">{{item.req_date}}</span>
              </div>
            </a>
          </li>
          {% endfor %}
          {% else %}
          <p>No Request</p>
          {% endif %}
        </ul>
      </div>


    </div>
  </div>        

</div>
{% endblock %}
© 2019 GitHub, Inc.