{% extends 'account/baselogin.html'%}
{% load crispy_forms_tags %}
{% block content %}
<form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-default submit" type="submit" name="submit1" value="Login"><br>
    <a class="" href="{%url 'password_reset'%}">Lost your password?</a>
    <p class="change_link">New to site?
        <a href="{% url 'uregister' %}"> Create Account </a>
    </p>
</div>

</div>

<div class="clearfix"></div>

<div class="separator">

    <div class="clearfix"></div>
    <br/>

</div>
</form>

{%endblock%}